


body {
	@include backface-visibility(visible);
	background-color: $color-bg;
	color: black;
	font-family: roboto slab;
}


.wrapper{
	@include outer-container;
}

.container{
	@include span-columns(11);
	//@include shift(.5);
	background-color: lighten($color-bg, 5%);
	
}

.content{
	@include span-columns(11);
	@include shift(1);
	//background: url(http://lcrazzy1.narod.ru/image/fantasy/zdzislaw_beksinski/zdzislaw_beksinski_08.jpg) -10px -20px no-repeat;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 10px;
}


section{
	@include outer-container;
	background-color: black;
	height:1000px;
}

article{
	@include span-columns(10);
	@include shift(1);
	//background: url('../images/Scan0010.jpg') -5px -30% no-repeat;
	background-size: 100%;
	background-color: lighten($color-bg, 10%);
	height: 1000px;
}