doctype html
html
  include header
  body
    .wrapper
      .container
        .content  
          h1 What are we doing?
          p Not just right now, not even our entire lives.
          p The question is where are we going as an entire thought. All of us, as a single entity.
          p These are the kinds of questions we should be asking.
          p.right Sometimes we need to step back and just ask, why?
    section 
      article
    script(src='//localhost:35729/livereload.js') //- to use Livereload