!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= "Why?"
    -#%link{href: "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700", rel: "stylesheet"}
    -#%link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700", rel: "stylesheet"}
    %link{href: "/stylesheets/style.css", rel: "stylesheet"}
    -#%link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/gif' }
    %link{href:'images/void.png', rel: 'shortcut icon', type: 'image/png'}
    
    %script{:src => "/javascripts/modernizr.js"}

  %body
    .wrapper
      .container
        .content  
          %h1 What are we doing?
          %p Not just right now, not even our entire lives.
          %p The question is where are we going as an entire thought. All of us, as a single entity.
          %p These are the kinds of questions we should be asking.
          %p.right Sometimes we need to step back and just ask, why?
    %section
      %article

    -#= partial "layouts/elements/footer"

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{:src => "/javascripts/pushy.min.js"}